.hero-image {
  height: 500px;
  transition: 0.5s;
}

.fade-out {
  opacity: 0;
}

.card-list {
  position: relative;
  border: 1px solid red;
}

.slider {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  height: 200px;
  z-index: 0;
  transition: 0.3s;
}

.card {
  /* position: absolute;
  display: grid;
  place-items: center;
  padding: 2rem;
  transition: 0.3s linear; */
}

.active-slide {
  opacity: 1;
  transform: translate(0%, 0%);
}
.next-slide {
  opacity: 0;
  transform: translate(100%, 0%);
}
.last-slide {
  opacity: 0;
  transform: translate(-100%, 0%);
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* buttons */

.next-and-prev-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 99;
}

.next-and-prev-btns button {
  font-size: 2rem;

  cursor: pointer;
}
